In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [9]:
# !pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for wget, since package 'wheel' is not installed.
Installing collected packages: wget
  Running setup.py install for wget: started
  Running setup.py install for wget: finished with status 'done'
Successfully installed wget-3.2

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\5290\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [10]:
import wget
URL = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet"
response = wget.download(URL, "yellow_tripdata_2022-01.parquet")

In [4]:
data = pd.read_parquet("yellow_tripdata_2022-01.parquet", engine='pyarrow')

In [18]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(data, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [11]:
data.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [12]:
import pyarrow.parquet as pq
from time import time

parquet_file = pq.ParquetFile('yellow_tripdata_2022-01.parquet')

for batch in parquet_file.iter_batches():
    t_start = time()
    batch_df = batch.to_pandas()
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end-t_start))

inserted another chunk, took 27.318 second
inserted another chunk, took 26.588 second
inserted another chunk, took 25.353 second
inserted another chunk, took 20.636 second
inserted another chunk, took 22.110 second
inserted another chunk, took 20.496 second
inserted another chunk, took 22.113 second
inserted another chunk, took 21.095 second
inserted another chunk, took 23.539 second
inserted another chunk, took 24.179 second
inserted another chunk, took 25.899 second
inserted another chunk, took 23.441 second
inserted another chunk, took 24.429 second
inserted another chunk, took 24.184 second
inserted another chunk, took 24.740 second
inserted another chunk, took 21.392 second
inserted another chunk, took 24.657 second
inserted another chunk, took 24.520 second
inserted another chunk, took 20.478 second
inserted another chunk, took 26.331 second
inserted another chunk, took 24.121 second
inserted another chunk, took 29.396 second
inserted another chunk, took 20.264 second
inserted another chunk, took 23.540 second
inserted another chunk, took 25.687 second
inserted another chunk, took 22.978 second
inserted another chunk, took 28.331 second
inserted another chunk, took 28.650 second
inserted another chunk, took 29.108 second
inserted another chunk, took 23.389 second
inserted another chunk, took 21.868 second
inserted another chunk, took 22.380 second
inserted another chunk, took 24.579 second
inserted another chunk, took 24.171 second
inserted another chunk, took 28.970 second
inserted another chunk, took 27.471 second
inserted another chunk, took 21.053 second
inserted another chunk, took 12.567 second

In [13]:
query1 = '''
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';
'''
query = '''
SELECT COUNT(1) FROM yellow_taxi_data
'''

pd.read_sql(query1, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False